/* ============================================
0. Base
 ============================================ */
:root{
    --beige: #dfd5c5;
    --marron-foncé: #644734;
    --marron-clair: #bf9883;
    --blanc-cassé: #f7f4f0;
    h1{
        color: var(--marron-foncé);
        font-size: 40px;
    }
}
/* ============================================
1. Body
 ============================================ */
.conteneur{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    margin: 1rem;
    min-height: 100dvh;
}
.block{
    border-radius: 5px;
    padding: 0;
}
/* ============================================
2. Header
 ============================================ */
.header{
    grid-row: 1;
    border-bottom: 5px solid var(--marron-foncé);
    background-color: var(--blanc-cassé);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
.menu_header{
    grid-column: 1;
    color: var(--marron-foncé);
    font-size: 1.1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 30px;
}
#logo{
    grid-column: 2;
    justify-self: center;
    align-self: center;
}
#logo img{
    height: 100%;
    max-width: 200px;
    object-fit: contain;
}
.partie_utilisateur{
    grid-column: 3;
    color: var(--marron-foncé);
    display: flex;
    gap: 1rem;
    justify-self: end;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.1em;
    margin-right: 30px;
}
/* ============================================
3. Main
 ============================================ */
main{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-row: 2;
}
    /* ============================================
    3.1 Main - Hero
     ============================================ */
    .hero{
        grid-row: 1;
        overflow: hidden;
        position: relative;
    }
    .hero img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hero h1{
        position: absolute;
        top: 10px;
        left: 20px;
        color: var(--marron-foncé);
        font-size: 40px;
    }
    /* ============================================
    3.2 Main - A la une
     ============================================ */
    .bloc_a_la_une{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 20dvw;
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .bloc_categorie_a_la_une{
        grid-row: 2;
    }
    .item_a_la_une{
        grid-row: 2;
        height: 100%;
        position: relative;
    }
    .item_a_la_une:hover, .item_a_la_une:active, .item_a_la_une:focus{
        filter: brightness(60%);
    }
    .bloc_a_la_une .en-tete_categorie_a_la_une{
        grid-row: 1;
        grid-column: 1/-1;
        margin: 0;
        color: var(--marron-foncé);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .bloc_a_la_une img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .nom_a_la_une{
        position: absolute;
        left: 5px;
        bottom: 5px;
        color: white;
        font-weight: bold;
    }
    .fleche{
        position: absolute;
        right: 5px;
        bottom: 3px;
        color: white;
    }
    .bloc_article_a_la_une{
        grid-row: 3;
        margin-bottom: 1.5rem;
    }
    /* ============================================
    3.3 Main - Hero final
     ============================================ */
    #hero_final{
        grid-row: 4;
        overflow: hidden;
        position: relative;
    }
    #hero_final img{
        display: block;
        width: 100%;
        object-fit: cover;
    }
    #hero_final h1{
        position: absolute;
        top: 0;
        right: 20px;
        color: var(--marron-foncé);
        font-size: 40px;
    }
    .chiffre p{
        position: absolute;
        color: var(--marron-foncé);
        text-align: center;
    }
    #chiffre1{
        top: 90px;
        left: 30px;
    }
    #chiffre2{
        top: 85px;
        left: 175px;
    }
    #chiffre3{
        top: 75px;
        left: 340px;
    }
    #chiffre4{
        top: 75px;
        left: 500px;
    }
    #chiffre5{
        top: 80px;
        left: 610px;
    }
/* ============================================
4. Footer
 ============================================ */
.footer {
    grid-row: 3;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 5px solid var(--marron-foncé);
    padding: 1rem;
    background: var(--blanc-cassé);
}
.navigation_footer, .informations, .reseaux_sociaux{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 0.5rem;
    justify-content: flex-start;
}
.navigation_footer{
    grid-column: 1;
    padding-left: 10px;
    justify-self: start;
}
.informations{
    grid-column: 2;
    text-align: center;
}
.informations p{
    margin: 0;
}
.reseaux_sociaux{
    grid-column: 3;
    justify-self: end;
    padding-right: 10px;
}
.logos_reseaux_sociaux img{
    display: block;
    height: 30px;
    object-fit: contain;
    margin: 5px;
}
.logos_reseaux_sociaux{
    display: flex;
}
.footer h2{
    margin: 0;
}
/* ============================================
5. Page 404
 ============================================ */
.page404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--marron-foncé);
    background: var(--beige);
}
.page404 img{
    display: block;
    width: 500px;
    margin-top: 1rem;
}
.page404 h1{
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.page404 p{
    margin: 0;
}
.page404 h2{
    margin: 1rem 1rem 2rem 1rem;
}
.page404 a{
    margin: 1rem;
}
/* ============================================
6. Page Contact
 ============================================ */
.page_formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--marron-foncé);
    background: var(--beige);
}
.page_formulaire h1{
    font-size: 4rem;
    margin: 0 1rem 1rem 1rem;
}
.page_formulaire p{
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    text-align: center;
}
.formulaire{
    display: flex;
    flex-direction: column;
    background-color: var(--blanc-cassé);
    padding: 1rem 4rem;
    font-size: 2rem;
    box-sizing: border-box;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.formulaire input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}
.formulaire textarea{
    width: 100%;
    padding: 3rem 8rem;
    font-size: 1rem;
    box-sizing: border-box;
}
.formulaire input[type="submit"]{
    width: auto;
    align-self: center;
    padding : 1rem 2rem;
    margin-top: 1rem;
}
.obligatoire::after{
    content: "*";
    color: red;
}
/* ============================================
X. Responsive Mobile ---> Ordinateur
 ============================================ */
@media (min-width: 800px){
    :root{
        margin: 0;
    }
}