/* ============================================
0. Base
 ============================================ */
:root{
    --beige: #dfd5c5;
    --marron-foncé: #644734;
    --marron-clair: #bf9883;
    --blanc-cassé: #f7f4f0;
}
h1{
    color: var(--marron-foncé);
    font-size: 5vw
}
/* ============================================
1. Body
 ============================================ */
.conteneur{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    margin: 2vw;
    min-height: 100dvh;
}
.block{
    border-radius: 5px;
    padding: 0;
}
/* ============================================
2. Header
 ============================================ */
.header{
    grid-row: 1;
    border-bottom: 5px solid var(--marron-foncé);
    background-color: var(--blanc-cassé);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5vw;
}
.menu_header{
    grid-column: 1;
    color: var(--marron-foncé);
    font-size: 3vw;
    display: flex;
    gap: 1.5vw;
    align-items: center;
    margin-left: 3vw;
}
#logo{
    grid-column: 2;
    justify-self: center;
    align-self: center;
}
#logo img{
    height: 100%;
    max-width: 30vw;
    object-fit: contain;
}
.partie_utilisateur{
    grid-column: 3;
    color: var(--marron-foncé);
    display: flex;
    gap: 1.5vw;
    justify-self: end;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 3vw;
    margin-right: 3vw;
}
/* ============================================
3. Main
 ============================================ */
main{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-row: 2;
}
    /* ============================================
    3.1 Main - Hero
     ============================================ */
    .hero{
        grid-row: 1;
        overflow: hidden;
        position: relative;
    }
    .hero img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hero h1{
        position: absolute;
        top: 10px;
        left: 20px;
    }
    /* ============================================
    3.2 Main - A la une
     ============================================ */
    .bloc_a_la_une{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 20dvw;
        column-gap: 1vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .bloc_categorie_a_la_une{
        grid-row: 2;
    }
    .item_a_la_une{
        grid-row: 2;
        height: 100%;
        position: relative;
    }
    .item_a_la_une:hover, .item_a_la_une:active, .item_a_la_une:focus{
        filter: brightness(60%);
    }
    .bloc_a_la_une .en-tete_categorie_a_la_une{
        grid-row: 1;
        grid-column: 1/-1;
        margin: 0;
        color: var(--marron-foncé);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1.5vw;
        font-size: 3vw;
    }
    .bloc_a_la_une img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .nom_a_la_une{
        position: absolute;
        left: 5px;
        bottom: 5px;
        color: white;
        font-weight: bold;
        font-size: 3vw;
    }
    .fleche{
        position: absolute;
        right: 5px;
        bottom: 3px;
        color: white;
    }
    .bloc_article_a_la_une{
        grid-row: 3;
        margin-bottom: 3vw;
    }
    /* ============================================
    3.3 Main - Hero final
     ============================================ */
    #hero_final{
        grid-row: 4;
        overflow: hidden;
        position: relative;
    }
    #hero_final img{
        display: block;
        width: 100%;
        object-fit: cover;
    }
    #hero_final h1{
        position: absolute;
        top: 0;
        right: 20px;
    }
/* ============================================
4. Footer
 ============================================ */
.footer {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 5px solid var(--marron-foncé);
    padding: 1vw;
    background: var(--blanc-cassé);
}
.navigation_footer, .informations, .reseaux_sociaux{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    justify-content: flex-start;
}
.navigation_footer{
    grid-column: 1;
    padding-left: 1vw;
    justify-self: start;
}
.informations{
    grid-column: 2;
    text-align: center;
}
.informations p{
    margin: 0;
}
.reseaux_sociaux{
    grid-column: 3;
    justify-self: end;
    padding-right: 1vw;
    text-align: center;
}
.logos_reseaux_sociaux img{
    display: block;
    height: 6vw;
    object-fit: contain;
    margin: 0.5vw;
}
.logos_reseaux_sociaux{
    display: flex;
}
.footer h2{
    margin: 0;
    font-size: clamp(8px, 5vw, 24px);
}
/* ============================================
5. Page 404
 ============================================ */
.page404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--marron-foncé);
    background: var(--beige);
}
.page404 img{
    display: block;
    width: 80vw;
    margin-top: 2vw;
}
.page404 h1{
    font-weight: bold;
    margin-bottom: 1vw;
}
.page404 p{
    margin: 0 2vw;
    text-align: center;
}
.page404 h2{
    margin: 2vw 2vw 4vw 2vw;
    text-align: center;
}
.page404 a{
    margin: 2vw;
}
.page404 h1, .page404 h2, .page404 p{
    text-wrap: balance;
}
/* ============================================
6. Page Contact
 ============================================ */
.page_formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--marron-foncé);
    background: var(--beige);
}
.page_formulaire h1{
    font-size: clamp(16px, 8vw, 40px);
    margin: 2vw;
    text-align: center;
}
.page_formulaire p{
    font-size: clamp(8px, 3vw, 20px);
    margin: 0 0 2vw 0;
    text-align: center;
}
.formulaire{
    display: flex;
    flex-direction: column;
    background-color: var(--blanc-cassé);
    padding: 2vw 8vw;
    font-size: 4vw;
    box-sizing: border-box;
    gap: 1vw;
    margin: 2vw;
    width: 95%;
    max-width: 500px;
}
.formulaire input{
    width: 100%;
    align-self: center;
    padding: clamp(4px, 2vw, 8px);
    font-size: clamp(8px, 2vw, 16px);
    box-sizing: border-box;
    margin: 0;
}
.formulaire label{
    font-size: clamp(8px, 3vw, 16px);
    margin-bottom: 0;
}
.formulaire textarea{
    width: 100%;
    padding: 2vw;
    font-size: clamp(8px, 2vw, 16px);
    box-sizing: border-box;
    min-height: 20vh;
}
.formulaire input[type="submit"]{
    width: auto;
    align-self: center;
    padding: clamp(4px, 2vw, 8px) clamp(8px, 4vw, 16px);
    margin-top: 2vw;
    font-size: clamp(4px, 2vw, 16px);
}
.obligatoire::after{
    content: "*";
    color: red;
}

/* ============================================
X1. Responsive Mobile ---> Téléphone
 ============================================ */
@media (max-width: 550px){
.formulaire{
    padding: 1vw 4vw;
}
}
/* ============================================
X2. Responsive Mobile ---> Tablette
 ============================================ */
@media (min-width: 800px){
    .conteneur{
        margin: 0;
    }
}
/* ============================================
X3. Responsive Mobile ---> Ordinateur
 ============================================ */