/* ============================================
0. Base
 ============================================ */

/* ============================================
1. Main
 ============================================ */
main{
    grid-template-rows: repeat(6, auto);
}

/* ============================================
2. Hero
 ============================================ */
.hero{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: cover;
}
.hero h1{
    top: 0;
    left: 17vw;
    font-size: 5vw;
}
/* ============================================
3. Catégorie
 ============================================ */
#titre_categorie_boutique{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    font-size: clamp(16px, 5vw, 32px);
    color: var(--marron-foncé);
    text-wrap: balance;
    gap: 1vw;
}
#titre_categorie_boutique p{
    text-align: right;
}
.categorie_boutique{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    border-radius: 30px;
    border: 1px solid var(--marron-foncé);
    margin: 1vw;
    overflow: hidden;
}
.categorie_boutique img{
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    grid-column: 1;
    grid-row: 2;
}
.categorie_boutique a{
    grid-column: 3;
    grid-row: 2;
    margin: 0 2vw 2vw 0;
    align-self: end;
    font-size: 2vw;
}
.categorie_boutique h3{
    grid-column: 1/-1;
    grid-row: 1;
    color: var(--marron-foncé);
    font-size: 30px;
    margin: 0.5vw 0.5vw 0.5vw 3vw;
}
.categorie_boutique p, .categorie_boutique img{
    justify-self: center;
    align-self: center;
    margin-top: 0;
}
.description_categorie{
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    color: var(--marron-foncé);
}
.accroche_categorie{
    font-size: clamp(20px, 4vw, 48px);
}
.liste_objet_categorie{
    font-size: clamp(10px, 2vw, 32px);
}
/* ============================================
4. Footer
============================================ */
.footer{
    margin-top: 2vw;
}
/* ============================================
X1. Responsive Mobile ---> Téléphone
 ============================================ */
@media (max-width: 550px){
    .categorie_boutique{
        display: grid;
        grid-template-columns: auto auto;
    }
    .categorie_boutique a{
        grid-column: 2;
        justify-self: center;
        margin-top: 2vw;
    }
    .accroche_categorie{
        text-align: center;
    }
    .categorie_boutique img{
        justify-self: start;
    }
}
/* ============================================
X3. Responsive Mobile ---> Ordinateur
 ============================================ */
@media (min-width: 1000px){
    #titre_categorie_boutique, .categorie_boutique{
        margin: 0.5vw 20vw;
    }
}