/* ============================================
0. Base
 ============================================ */
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}
/* ============================================
1. Photo article
 ============================================ */
.photo_article{
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3vw;
    margin-bottom: 0;
    padding: 0;
    border-radius: 20px;
    border: 2px solid var(--marron-clair);
    background-color: var(--blanc-cassé);
}
.photo_article img{
    display: block;
    width: 45%;
    max-height: 70vh;
    object-fit: contain;
}
/* ============================================
2. En tête article
 ============================================ */
.en_tete_article{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.categorie_article{
    color: black;
    font-size: 2vw;
}
.nom_article, .prix_article{
    color: var(--marron-foncé);
    font-weight: bold;
    font-size: 3vw;
}
/* ============================================
3. Achat article
 ============================================ */
.achat{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 3vw 3vw 0;
    gap: 2vw;

}
.achat a{
    background-color: var(--marron-foncé);
    color: white;
    border-radius: 30px;
    padding: 15px;
    align-self: center;
}
.achat a:active{
    background-color: darkgreen;
}
.selecteur_de_quantite{
    text-align: center;
    padding: 15px;
    background-color: var(--marron-foncé);
    border-radius: 30px;
    color: white;
}
/* ============================================
4. Description article
 ============================================ */
.description_article{
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid var(--marron-clair);
    border-radius: 20px;
    background-color: var(--blanc-cassé);
    margin: 0 3vw 3vw 3vw;
    padding-bottom: 2vw;
}
.type_description {
    display: flex;
    gap: 5vw;
    margin-left: 3vw;
    align-items: center;
}

.type_description p{
    font-size: clamp(10px, 2vw, 15px);
}

.texte_description{
    margin: 0 3vw;
    border-top: 1px solid var(--beige);
    padding-top: 2vw;
}
.type_description .titre_description{
    color: var(--marron-foncé);
    border-bottom: 2px solid var(--marron-foncé);
    padding: 2vw;
    font-weight: bold;
    font-size: clamp(16px, 3vw, 20px);
}
/* ============================================
5. Caractéristique article
 ============================================ */
.caracteristique_article{
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid var(--marron-clair);
    border-radius: 20px;
    background-color: var(--blanc-cassé);
    margin: 0 3vw 3vw 3vw;
    padding-bottom: 2vw;
}
/* ============================================
6. Articles conseillés
 ============================================ */
.en_tete_article_conseille{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    font-size: 2vw;
    color: var(--marron-foncé);
    font-weight: bold;
}
.bloc_article_conseille{
    grid-column: 1/-1;
}
.carte_article_conseille{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}
.article_conseille{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto 1fr;
    background-color: var(--blanc-cassé);
    border-radius: 30px;
    border: 1px solid var(--beige);
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.article_conseille img{
    grid-row: 1;
    width: 150px;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}
.nom_article_conseille, .prix_article_conseille{
    justify-self: center;
    font-size: 1.2rem;
    margin: 10px;
}
.nom_article_conseille{
    grid-row: 2;
}
.prix_article_conseille{
    grid-row: 3;
}
.article_conseille .lien_article_conseille{
    grid-row: 4;
    align-self: end;
    justify-self: stretch;
    padding: 10px;
    margin: 0 10px 20px 10px;
    text-align: center;
    background-color: var(--marron-foncé);
    color: white;
    border-radius: 30px;
}
.article_conseille .coming_soon{
    background-color: white;
    color: black;
}
/* ============================================
7. Footer
 ============================================ */
.footer{
    margin-top: 5vw;
}
/* ============================================
X3. Responsive Mobile ---> Ordinateur
 ============================================ */
@media (min-width: 1000px){
    .photo_article, .en_tete_article, .achat, .description_article, .caracteristique_article, .bloc_article_conseille {
        margin: 0.5vw 20vw;
    }
}